@model ShopWebsite.Models.Car

@{
    ViewData["Title"] = "Add a new car";
}

<h1>Add a new car</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Year of production</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarTypeId">Type</label>
                <select asp-for="CarTypeId" asp-items="@ViewBag.CarTypeId" class="form-control">
                    <option value="0">Choose type of car</option>
                </select>
            </div>
            <div class="form-group text-center">
                <label asp-for="Image" class="control-label">Add Image</label>
                <input asp-for="ImageUpload" class="form-control" />
                <img src="" id="imgpreview" alt="" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $("#ImageUpload").change(function () {
            readURL(this);
        });

    </script>
}
