@model IEnumerable<CarType>

@{
    ViewData["Title"] = "Car types";
}

<h1>Car Types</h1>

<a asp-controller="Types" asp-action="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Slug
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    <a asp-controller="CarTypes" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="CarTypes" asp-action="Details">Details</a>|
                    <a id="confirmDeletion" asp-controller="CarTypes" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>